In [589]:
import logging
import pyprind
import sqlite3
import re
import urllib3
from bs4 import BeautifulSoup
import requests
import pandas as pd
from requests.packages.urllib3.exceptions import InsecureRequestWarning
requests.packages.urllib3.disable_warnings(InsecureRequestWarning)

In [590]:
logger = logging.getLogger('cricket')
logger.setLevel(logging.DEBUG)

## Create match_table

In [505]:
conn = sqlite3.connect(sqlite_file)
c = conn.cursor()
c.execute('SELECT COUNT(*) FROM {tn}'.\
        format(tn=table_player_list))
print c.fetchall()[0]
conn.close()

(2850,)

## Create a player-match table

In [907]:
class MySoup(object):
    __http = None 
    def __init__(self):
        self.__http  = urllib3.PoolManager()
    
    def get_soup(self, url):
        if not self.__http:
            logger.critical("urllib3.PoolManager() not initialized!")
        response = self.__http.request('GET', url)
        return BeautifulSoup(response.data)
    
    def debug(self, url):
        print "url = ", url

In [908]:
def get_list_of_urls_for_players_per_their_first_char():
    # Example: 
    # url_list[0] corresponds to the page with players name starting with A 
    # url_list[1] corresponds to the page with players name starting with B
    base_url = 'http://www.howstat.com/cricket/Statistics/Players/PlayerList.asp?Group='
    url_list = [base_url + chr(ord('A') + idx) for idx in range(26)] 
    return url_list


def get_player_code(plr_att, match_type="test"):
    TEST_COLUMN = 3 # 1st column idexed as 0
    ODI_COLUMN = 4 # 1st column idexed as 0
    T20_COLUMN = 5 # 1st column idexed as 0
    
    d = {"test": TEST_COLUMN, "odi": ODI_COLUMN, "t20": T20_COLUMN}
    
    if d[match_type] >= len(plr_att):
        return None
        
    player_col = plr_att[d[match_type]].find('a')
    if player_col is not None:
        url = player_col.get('href')
        m = re.search("PlayerID=(.*)", url)
        return m.groups()[0] 
    else:
        return None

def get_player_name(plr_attr):
    name = plr_attr[0].find(text=True).strip()
    name = name.replace("'", "")
    return name
    
def get_dob(plr_attr):
    date_string = plr_attr[1].find(text=True).strip()
    date = [token.strip() for token in date_string.split('/')]
    year = date[2]
    month = date[1]
    day = date[0]
    date = int(year + month + day)
    return date

def get_country(plr_attr):
    return plr_attr[2].find(text=True).strip()

In [909]:
def get_list_of_urls_for_test_matches_per_year(match_type="test"):
    # From match_list_menu_url, we find all links for the pages which 
    # contain matches played in a particular year (or a period of years).
    
    match_list_menu_url = 'http://www.howstat.com/cricket/Statistics/Matches/MatchListMenu.asp?r=T#tests?data-scroll=false'
    my_soup = MySoup()
    soup = my_soup.get_soup(match_list_menu_url)
    
    yearwise_test_match_list = []
    match_list_per_year_url_base = "http://www.howstat.com/cricket/Statistics/Matches/MatchList.asp?Group="
    list_of_urls = soup.find_all('a', { "class" : "LinkOff" })
    for url in list_of_urls:
        ref = url.get('href')
        if match_type!="test":
            return yearwise_test_match_list
        m = re.search("MatchList\.asp\?Group=(.*)", ref) # For test matches
        if m is not None:
            yearwise_test_match_list.append(match_list_per_year_url_base + m.groups()[0])
    return yearwise_test_match_list 

def get_date(date_string):
    date = [token.strip() for token in date_string.split('/')]
    year = date[2]
    month = date[1]
    day = date[0]
    date = int(year + month + day)
    return date

def get_countries(countries_string):
    countries = countries_string.strip()
    countries = [token.strip() for token in countries.split("v.")]
    return (countries[0], countries[1])

def get_ground_code(ground):
    m = re.search("GroundCode=(.*)", ground)
    ground_code = m.groups()[0].strip()
    return ground_code

def get_result(res_attribute, country_1, country_2):
    if "Drawn" in res_attribute.find(text=True):
        return "Match Drawn"
    elif "drawn" in res_attribute.find(text=True):
        return "Match Drawn"
    elif "abandoned" in res_attribute.find(text=True):
        return "Match Abandoned"
    elif "Abandoned" in res_attribute.find(text=True):
        return "Match Abandoned"
    
    if res_attribute.find('span') is None:
        return "Match Abandoned"
    
    result = res_attribute.find('span').find(text=True)
    if (country_1 in result):
        return country_1
    elif (country_2 in result):
        return country_2
    else:
        return "Match Drawn"
    
def get_match_code(scorecard):
    m = re.search("MatchCode=(.*)", scorecard)
    match_code = m.groups()[0].strip()
    return match_code

In [910]:
def get_toss_winning_country(soup):
    table = soup.find('table')
    tables = table.find_all('table')
    toss_table_idx = 4
    toss_row_idx = 3
    table_rows = tables[toss_table_idx].find_all('tr')
    table_data = table_rows[toss_row_idx].find_all('td')
    return table_data[1].text.strip()

def getPlayerId(url):
    m = re.search('PlayerID=(.*)', url)
    if m is None:
        return None
    return m.groups()[0]

def getPlayerCountry(playerId):
    conn = sqlite3.connect(sqlite_file)
    c = conn.cursor()
    c.execute("SELECT country FROM {tn} where player_code='{pid}'".\
              format(tn=table_player_list, pid=playerId))
    country = c.fetchall()[0][0]
    conn.close()
    return country

def get_country_1(player_country):
    return player_country[0][1]
    
def get_country_2(player_country):
    return player_country[11][1]
    
def get_ordered_batsmen_country_1(player_country):
    return player_country[0:11]

def get_ordered_batsmen_country_2(player_country, country_2):
    country_2_bowler_idx_start = 11
    country_2_batsman_idx_end = country_2_bowler_idx_start
    while (country_2_batsman_idx_end + 1 < len(player_country) and player_country[country_2_batsman_idx_end + 1][1] == country_2) :
        country_2_batsman_idx_end += 1

    country_2_batsmen_idx_start = country_2_batsman_idx_end - 10 
    return player_country[country_2_batsmen_idx_start:country_2_batsman_idx_end + 1]
    
def get_ordered_bowler_country_2(player_country, country_2):
    country_2_bowler_idx_start = 11
    country_2_batsman_idx_end = country_2_bowler_idx_start
    while (player_country[country_2_batsman_idx_end + 1][1] == country_2):
        country_2_batsman_idx_end += 1
    country_2_bowler_idx_end = country_2_batsman_idx_end - 11
    return player_country[country_2_bowler_idx_start:country_2_bowler_idx_end + 1]

def get_ordered_bowler_country_1(player_country, country_1):
    country_1_batting_idx_end = 10
    country_2_batting_idx_end = country_1_batting_idx_end
    while (player_country[country_2_batting_idx_end + 1][1] != country_1):
        country_2_batting_idx_end += 1
        
    country_1_bowling_idx_start = country_2_batting_idx_end + 1
    country_1_batting_idx_end = country_1_bowling_idx_start
    while (player_country[country_1_batting_idx_end + 1][1] == country_1):
        country_1_batting_idx_end += 1
    country_1_bowling_idx_end = country_1_batting_idx_end - 11

    return player_country[country_1_bowling_idx_start: country_1_bowling_idx_end + 1]

In [922]:
def get_player_code_for_player_stats(url):
    m = re.search("PlayerID=(.*)", url)
    return m.groups()[0]

def get_match_code_for_this_innings(date_data, previous_match_code=None):
    match_url = ""
    if date_data.find('a') is not None:
        match_url = date_data.find('a').get('href')
    if match_url=="":
        return previous_match_code
    m = re.search("MatchCode=(.*)", match_url)
    match_code = m.groups()[0].strip()
    return match_code

def get_innings(innings_data):
    m = re.findall(r'\d+', innings_data)
    return int(m[0])

def get_total_runs_after_this_innings(batting_aggr):
    batting_aggr = batting_aggr.find(text=True).strip()
    if batting_aggr is None:
        return 0
    if batting_aggr.isdigit():
        return int(batting_aggr)
    else:
        return 0

def get_batting_avg_after_this_innings(batting_avg):
    batting_avg = batting_avg.find(text=True).strip()
    if batting_avg is None:
        return 0.0
    if batting_avg.isdigit():
        return float(batting_avg)
    if batting_avg.replace('.', '', 1).isdigit():
        return float(batting_avg)
    return 0

def get_total_bowling_wkts_after_this_innings(bowling_wkts):
    bowling_wkts = bowling_wkts.find(text=True).strip()
    if bowling_wkts is None:
        return 0
    if bowling_wkts.isdigit():
        return int(bowling_wkts)
    return 0

INCONSEQUENTIAL_BOWLING_AVG = -1.0
def get_bowling_avg_after_this_innings(bowling_avg):
    bowling_avg = bowling_avg.find(text=True).strip()
    if bowling_avg is None:
        return INCONSEQUENTIAL_BOWLING_AVG
    if bowling_avg.isdigit():
        return float(bowling_avg)
    if bowling_avg.replace('.', '', 1).isdigit():
        return float(bowling_avg)
    return INCONSEQUENTIAL_BOWLING_AVG

def get_age_in_this_innings(age):
    age = age.find(text=True).strip()
    if age is None:
        return 0
    age = age.strip()
    return re.compile(r'(\d+)').search(s).group(1)

In [937]:
class CricketDB(object):
    sqlite_file = ""
    table_match_summary = ""
    table_player_list = ""
    table_player_stats_per_match = ""
    __conn = None
    __cursor = None
    
    def __init__(self, 
                 sqlite_file, 
                 table_match_summary, 
                 table_player_list, 
                 table_player_stats_per_match):
        self.sqlite_file = sqlite_file
        self.table_match_summary = table_match_summary
        self.table_player_list = table_player_list
        self.table_player_stats_per_match = table_player_stats_per_match
        
        self.open_connection()
        self.create_tables()
        
    def open_connection(self):
        if not self.is_connection_open():
            self.__conn = sqlite3.connect(self.sqlite_file)
        self.__cursor = self.__conn.cursor()
        
    def close_connection(self):
        self.__conn.close()
        
    def commit_changes(self):
        self.__conn.commit()
        
    def commit_and_close(self):
        self.__conn.commit()
        self.__conn.close()
        
    def is_connection_open(self):
        try:
            # The following is a proxy to check whether the connection is open
            # Did not find a connection status for sqlite3 for python! 
            self.__cursor.execute('select name from sqlite_master where type = "table";')
        except:
            logger.info("Connection is closed")
            return False
        else:
            print self.__cursor.fetchall()
            logger.info("Connection is open")
            return True   
    
    def get_existing_tables(self):
        tables = []
        try:
            self.__cursor.execute('select name from sqlite_master where type = "table";')
            tables = [tables_tup[0] for tables_tup in self.__cursor.fetchall()]  
        finally:
            return tables
            
    def create_tables(self):
        tables = self.get_existing_tables()
        if self.table_player_list not in tables:
            self.create_table_player_list()
        if self.table_match_summary not in tables:
            self.create_table_match_summary()
        if self.table_player_stats_per_match not in tables:
            self.create_table_player_stats_per_match()
    
    def create_table_player_list(self):
        if not self.is_connection_open():
            self.open_connection()
            
        self.__cursor.execute('CREATE TABLE {tn} (player_code TEXT PRIMARY KEY, name TEXT, dob INTEGER, country TEXT)'\
                              .format(tn=table_player_list))
        self.commit_and_close()
    
    def create_table_match_summary(self):
        if not self.is_connection_open():
            self.open_connection()
        
        self.__cursor.execute('CREATE TABLE {tn}\
        (match_code TEXT PRIMARY KEY, \
        date INTEGER, \
        country_1 TEXT, \
        country_2 TEXT, \
        host TEXT, \
        ground_code TEXT, \
        toss_winning_country TEXT, \
        result TEXT)'.format(tn=self.table_match_summary))
        
        countries = ['ct'+str(idx) for idx in range(1,3)]
        players = ['pl'+str(idx) for idx in range(1,12)]
        for country in countries:
            for player in players:
                column_name = country + "_" + player
                self.__cursor.execute("ALTER TABLE {tn} ADD COLUMN '{cn}' {ct}"\
                                      .format(tn=self.table_match_summary, cn=column_name, ct='TEXT'))
        self.commit_and_close()    
    
    def create_table_player_stats_per_match(self):
        if not self.is_connection_open():
            self.open_connection()
            
        query = "CREATE TABLE {tn} " + \
                "( match_code TEXT NOT NULL," + \
                "  player_code TEXT NOT NULL," + \
                "  innings INTEGER NOT NULL," + \
                "  total_runs INTEGER DEFAULT 0," + \
                "  batting_avg REAL," + \
                "  total_wickets INTEGER DEFAULT 0," + \
                "  bowling_avg REAL," + \
                "  FOREIGN KEY(match_code) REFERENCES match_table(match_code)," + \
                "  FOREIGN KEY(player_code) REFERENCES player_list_table(player_code)," + \
                "  PRIMARY KEY (match_code, player_code, innings))"
        query = query.format(tn=self.table_player_stats_per_match)
        
        self.__cursor.execute(query)   
        self.commit_and_close()      
        
    def __update_players_list(self, list_of_urls_for_players_per_their_first_char, match_type):
        self.open_connection()
        my_soup = MySoup()
        for url in list_of_urls_for_players_per_their_first_char:
            soup = my_soup.get_soup(url)
            tables = soup.find_all('table', attrs={'class':'TableLined'})
            table = tables[0] # there is only one table per page
            
            count = 0
            for table_row in table.find_all('tr'):
                if count < 2: # The first two rows are not player information
                    count += 1
                    continue
                player_attributes = table_row.find_all('td')
                player_code = get_player_code(player_attributes, match_type)
                if player_code is None:
                    continue
                player_name = get_player_name(player_attributes)
                dob = get_dob(player_attributes)
                country = get_country(player_attributes)
                
                
                self.__cursor.execute("INSERT INTO {tn} \
                                      (player_code, name, dob, country) \
                                      VALUES ('{pc}', '{nm}', {dt}, '{cy}')"\
                                      .format(tn=table_player_list, 
                                              pc=player_code, 
                                              nm=player_name, 
                                              dt=dob, 
                                              cy=country))
        self.commit_and_close()
        logger.debug("Done updating player list")
 

    def __update_match_summary(self, list_of_urls_for_test_matches_per_year, match_type):
        self.open_connection()
        my_soup = MySoup()
        
        for url in list_of_urls_for_test_matches_per_year:
            soup = my_soup.get_soup(url)
        
            tables = soup.find_all('table', attrs={'class':'TableLined'})
            table = tables[0] # there is only one table per page
            match_rows = table.find_all('tr')
        
            count = 0
            for match_row in match_rows:
                if count is 0:
                    # The forst row is the header row which does not have match info
                    count += 1
                    continue
            
                # get match attributes
                match_attributes = match_row.find_all('td')    
                #print match_attributes
                date = get_date(match_attributes[1].find(text=True)) 
                country_1, country_2 = get_countries(match_attributes[2].find('a').find(text=True))
                ground_code = get_ground_code(match_attributes[3].find('a').get('href'))
                result = get_result(match_attributes[4], country_1, country_2)
                match_code = get_match_code(match_attributes[5].find('a').get('href'))
                toss_winning_country = " "  # Need to get this
                if match_type == "test":
                    host = country_1
                else:
                    host = " "
                
                self.__cursor.execute("INSERT INTO {tn} (match_code, date, country_1, \
                country_2, host, ground_code, toss_winning_country, result) \
                VALUES ('{mc}', {dt}, '{c1}', '{c2}', '{ht}', '{gc}', '{ts}', '{rt}')"\
                          .format(tn=table_match_summary, mc=match_code, \
                                  dt=date, \
                                  c1=country_1, \
                                  c2=country_2, \
                                  ht=host, \
                                  gc=ground_code, \
                                  ts=toss_winning_country, \
                                  rt=result))

        self.commit_and_close()
        print "Done"
        
    def __get_list_of_match_urls(self):
        self.open_connection()
        self.__cursor.execute("SELECT match_code FROM match_table")
        base_url = 'http://www.howstat.com/cricket/Statistics/Matches/MatchScorecard.asp?MatchCode='
        urls = [base_url + m_c[0] for m_c in self.__cursor.fetchall()]
        self.close_connection()
        return urls

    def __update_match_summary_with_player_data(self, list_of_match_urls):
        self.open_connection()
        my_soup = MySoup()
        missing_data_match_codes = []
        
        pbar = pyprind.ProgBar(len(list_of_match_urls))
        for url in list_of_match_urls:
            m = re.search("MatchCode=(.*)", url)
            match_code = m.groups()[0]
            
            #print match_code
            soup = my_soup.get_soup(url)
        
            player_country = []
            for links_data in soup.find_all('a', { "class" : "LinkOff" }):
                player_url = links_data.get('href')
                pid = getPlayerId(player_url)    
                if pid is not None:
                    country = getPlayerCountry(pid)
                    player_country.append((pid,country))
                
            if len(player_country) < 22:
                missing_data_match_codes.append(match_code)
                print "missing data for match_code = {mc}".format(mc=match_code)
                continue
                
            country_1 = get_country_1(player_country)
            country_2 = get_country_2(player_country)
            ordered_batsmen_country_1 = get_ordered_batsmen_country_1(player_country)
            ordered_batsmen_country_2 = get_ordered_batsmen_country_2(player_country, country_2) 
            #ordered_bowler_country_2 = get_ordered_bowler_country_2(player_country, country_2) 
            #ordered_bowler_country_1 = get_ordered_bowler_country_1(player_country, country_1) 
        
            toss_winning_country = get_toss_winning_country(soup)
          
            query = "UPDATE {tn} SET country_1='{c1}', country_2='{c2}', toss_winning_country='{tc}'"
            for pid in range(1, 12):
                query = query + ", ct1"+"_pl"+str(pid) + "='" + ordered_batsmen_country_1[pid-1][0] + "'"
            for pid in range(1, 12):
                query = query + ", ct2"+"_pl"+str(pid) + "='" + ordered_batsmen_country_2[pid-1][0] + "'"
            query = query + "  WHERE match_code='{mc}'"
            
            self.__cursor.execute(query.format(tn=table_match_summary, c1=country_1, c2=country_2, tc=toss_winning_country, mc=match_code))
            self.commit_changes()
            pbar.update()
            
        self.close_connection()
        return missing_data_match_codes
        
    def __get_player_statistics_urls(self):
        self.open_connection()
        self.__cursor.execute("SELECT player_code FROM player_list_table")
        base_url = 'http://www.howstat.com/cricket/Statistics/Players/PlayerProgressSummary.asp?PlayerID='
        urls = [base_url + m_c[0] for m_c in self.__cursor.fetchall()]
        self.close_connection()
        return urls
    
    def __update_player_stats_per_match(self, list_of_player_statistics_urls, match_type="test"):
        self.open_connection()
        my_soup = MySoup() 
        
        pbar = pyprind.ProgBar(len(list_of_player_statistics_urls))
        for url in list_of_player_statistics_urls:
            player_code = get_player_code_for_player_stats(url)
            my_soup.debug(url)
            soup = my_soup.get_soup(url)  
            nested_tables = soup.find_all('table')[0].find_all('table')
            stat_table = None
            for table in nested_tables:
                temp_ = table.find_all('table', attrs={'class':'TableLined'})
                if temp_ != []:
                    stat_table = temp_[0]
                    break
            
            rows = stat_table.find_all('tr')  
            skip_top_rows = 2 # These many rows are ignored at the top of the table
            d_columns = {"idx": 0,
                         "date": 1,
                         "versus": 2,
                         "ground": 3,
                         "innings": 4,
                         "batting_runs": 5,
                         "batting_aggr": 6,
                         "batting_avg": 7,
                         "bowling_wkts": 8,
                         "bowling_aggr": 9,
                         "bowling_avg": 10,
                         "age": 16
                        }
            allowed_innings_col_values = ["1st", "2nd"]
            previous_match_code = None
            for row_id, row in enumerate(rows):
                if row_id < skip_top_rows:
                    continue
                row_attributes = row.find_all('td')
                innings_data = row_attributes[d_columns["innings"]].find(text=True).strip()
                if innings_data is None:
                    continue
                if innings_data.strip() not in allowed_innings_col_values:
                    continue
                match_code = get_match_code_for_this_innings(row_attributes[d_columns["date"]], 
                                                              previous_match_code)
                previous_match_code = match_code
                innings = get_innings(innings_data)
                batting_aggr = get_total_runs_after_this_innings(row_attributes[d_columns["batting_aggr"]])
                batting_avg = get_batting_avg_after_this_innings(row_attributes[d_columns["batting_avg"]])        
                bowling_wkts = get_total_bowling_wkts_after_this_innings(row_attributes[d_columns["bowling_aggr"]])
                bowling_avg = get_bowling_avg_after_this_innings(row_attributes[d_columns["bowling_avg"]])
                #age = get_age_in_this_innings(row_attributes[d_columns["age"]])
                    
                query = "INSERT INTO player_stats_per_match_table (match_code, " + \
                " player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg) " + \
                " VALUES ('{mc}', '{pc}', {ing}, {tr}, {bta}, {tw}, {bla})"\
                .format(mc=match_code, 
                        pc=player_code,
                        ing=innings,
                        tr=batting_aggr,
                        bta=batting_avg,
                        tw=bowling_wkts,
                        bla=bowling_avg)
                self.__cursor.execute(query)
                self.commit_changes()
            pbar.update()
        self.close_connection()
            
        
    def populate_table_player_list(self):
        match_type = "test"
        urls_for_players_per_their_first_char = get_list_of_urls_for_players_per_their_first_char()
        self.__update_players_list(urls_for_players_per_their_first_char, match_type)
        
    def populate_table_match_summary(self):
        match_type = "test"
        list_of_urls_for_test_matches_per_year = get_list_of_urls_for_test_matches_per_year(match_type)
        self.__update_match_summary(list_of_urls_for_test_matches_per_year, match_type)
        list_of_match_urls =  self.__get_list_of_match_urls()
        missing_data_match_codes = self.__update_match_summary_with_player_data(list_of_match_urls)
        print "There are {l} matches with missing data".format(l=len(missing_data_match_codes))
        print missing_data_match_codes
        
    def populate_table_player_stats_per_match(self):
        match_type = "test"
        list_of_player_statistics_urls = self.__get_player_statistics_urls()
        self.__update_player_stats_per_match(list_of_player_statistics_urls, match_type)
        return

In [938]:
def main():
    
    sqlite_file = '/home/shantanu/PycharmProjects/cricketResultPrediction/CricketDB.sqlite'
    table_match_summary = 'match_table'
    table_player_list = "player_list_table"
    table_player_stats_per_match = 'player_stats_per_match_table'
    db = CricketDB(sqlite_file, table_match_summary, table_player_list, table_player_stats_per_match)
    
    #db.populate_table_player_list()
    #db.populate_table_match_summary()
    db.populate_table_player_stats_per_match()
    
    
if __name__=="__main__":
    main()

0%                          100%
[                              ]

[(u'match_table',), (u'player_list_table',), (u'player_stats_per_match_table',)]
url =  http://www.howstat.com/cricket/Statistics/Players/PlayerProgressSummary.asp?PlayerID=0001
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0178', '0001', 1, 41, 41.0, 1, 92.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0178', '0001', 2, 47, 23.5, 1, 131.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0179', '0001', 1, 83, 27.67, 1, 175.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0179', '0001', 2, 104, 26.0, 2, 108.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0196', '0001', 1, 133, 26.6, 3, 87.67)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0196', '0001', 2, 133, 26.6, 3, 94.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0214', '0001', 1, 139, 23.17, 3, 103.67)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0214', '0001', 2, 143, 20.43, 3, 105.67)
url =  http://www.howstat.com/cricket/Statistics/Players/PlayerProgressSummary.asp?PlayerID=0002
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0623', '0002', 1, 12, 12.0, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0623', '0002', 2, 12, 6.0, 0, -1.0)
url =  http://www.howstat.com/cricket/Statistics/Players/PlayerProgressSummary.asp?PlayerID=0003
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0662', '0003', 1, 12, 12.0, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0662', '0003', 2, 39, 19.5, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0687', '0003', 1, 313, 104.33, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0687', '0003', 2, 313, 104.33, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0688', '0003', 1, 353, 88.25, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0688', '0003', 2, 353, 88.25, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0689', '0003', 1, 425, 85.0, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0689', '0003', 2, 425, 70.83, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0708', '0003', 1, 432, 61.71, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0708', '0003', 2, 432, 54.0, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0709', '0003', 1, 483, 53.67, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0709', '0003', 2, 508, 50.8, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0710', '0003', 1, 522, 47.45, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0710', '0003', 2, 569, 47.42, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0711', '0003', 1, 571, 43.92, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0711', '0003', 2, 579, 41.36, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0712', '0003', 1, 594, 39.6, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0712', '0003', 2, 594, 39.6, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0713', '0003', 1, 604, 37.75, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0713', '0003', 2, 604, 35.53, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0720', '0003', 1, 628, 34.89, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0720', '0003', 2, 628, 34.89, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0721', '0003', 1, 650, 36.11, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0721', '0003', 2, 654, 34.42, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0742', '0003', 1, 702, 35.1, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0742', '0003', 2, 721, 34.33, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0743', '0003', 1, 722, 32.82, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0743', '0003', 2, 723, 31.43, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0744', '0003', 1, 963, 40.13, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0744', '0003', 2, 978, 39.12, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0756', '0003', 1, 996, 38.31, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0756', '0003', 2, 1029, 38.11, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0757', '0003', 1, 1047, 37.39, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0757', '0003', 2, 1049, 36.17, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0782', '0003', 1, 1064, 35.47, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0782', '0003', 2, 1079, 34.81, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0783', '0003', 1, 1090, 34.06, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0783', '0003', 2, 1090, 34.06, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0784', '0003', 1, 1093, 33.12, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0784', '0003', 2, 1109, 32.62, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0793', '0003', 1, 1194, 34.11, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0793', '0003', 2, 1295, 35.97, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0794', '0003', 1, 1385, 37.43, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0794', '0003', 2, 1443, 37.97, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0795', '0003', 1, 1448, 37.13, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0795', '0003', 2, 1452, 36.3, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0800', '0003', 1, 1452, 35.41, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0800', '0003', 2, 1532, 36.48, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0801', '0003', 1, 1546, 35.95, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0801', '0003', 2, 1555, 35.34, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0802', '0003', 1, 1583, 35.18, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0802', '0003', 2, 1583, 34.41, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0831', '0003', 1, 1759, 37.43, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0831', '0003', 2, 1855, 38.65, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0832', '0003', 1, 2090, 43.54, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0832', '0003', 2, 2124, 44.25, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0833', '0003', 1, 2166, 44.2, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0833', '0003', 2, 2166, 44.2, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0847', '0003', 1, 2168, 43.36, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0847', '0003', 2, 2208, 43.29, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0848', '0003', 1, 2343, 45.06, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0848', '0003', 2, 2343, 45.06, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0849', '0003', 1, 2354, 44.42, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0849', '0003', 2, 2413, 44.69, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0850', '0003', 1, 2442, 44.4, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0850', '0003', 2, 2460, 43.93, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0861', '0003', 1, 2500, 43.86, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0861', '0003', 2, 2531, 44.4, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0862', '0003', 1, 2534, 43.69, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0862', '0003', 2, 2584, 43.8, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0863', '0003', 1, 2586, 43.1, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0863', '0003', 2, 2597, 42.57, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0864', '0003', 1, 2602, 41.97, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0864', '0003', 2, 2602, 41.97, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0865', '0003', 1, 2602, 41.3, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0865', '0003', 2, 2617, 40.89, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0877', '0003', 1, 2625, 40.38, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0877', '0003', 2, 2643, 40.66, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0878', '0003', 1, 2662, 40.33, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0887', '0003', 1, 2664, 39.76, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0887', '0003', 2, 2697, 39.66, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0888', '0003', 1, 2710, 39.85, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0888', '0003', 2, 2711, 39.29, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0889', '0003', 1, 2719, 38.84, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0889', '0003', 2, 2719, 38.84, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0910', '0003', 1, 2799, 39.42, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0910', '0003', 2, 2799, 38.88, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0911', '0003', 1, 2889, 39.58, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0911', '0003', 2, 2889, 39.58, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0927', '0003', 1, 3023, 40.85, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0927', '0003', 2, 3023, 40.85, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0931', '0003', 1, 3063, 40.84, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0931', '0003', 2, 3067, 40.36, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0932', '0003', 1, 3142, 40.81, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0932', '0003', 2, 3142, 40.81, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0933', '0003', 1, 3150, 40.38, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0933', '0003', 2, 3154, 39.92, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0935', '0003', 1, 3245, 40.56, 0, -1.0)
INSERT INTO player_stats_per_match_table (match_code,  player_code, innings, total_runs, batting_avg, total_wickets, bowling_avg)  VALUES ('0935', '0003', 2, 3245, 40.56, 0, -1.0)

KeyboardInterrupt: